body {
    text-align: center;
}

h1 {
    margin: 20px;
    text-align: center;
    border: 4px solid pink;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table {
    border: 2px solid #000;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;  
}

.content {
    background-image: url('spring-flowers-with-hyacinth.jpg.webp'); 
    background-size: relative;
}

.paragraph {
    border: 4px solid pink;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}


.paragraph2 {
    border: 4px solid pink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
}
 .img {
    margin: 10px;
 }


th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    margin: 10px;
}